* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


/* Navbar  */

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 30%;
    top: 10%;
}

.nav-items .active-item {
    color: #fe5e35;
}

.nav-item {
    margin-left: 80px;
    font-size: 1.2rem;
}

.logo {
    position: absolute;
    left: 6%;
}

.cart {
    position: absolute;
    left: 80%;
    top: 8.5%;
}


/* Other Section  */

.intro-section {
    width: 100%;
    float: left;
}

.left-section {
    width: 70%;
    float: left;
}

.right-section {
    width: 30%;
    float: left;
}

.left-section h3 {
    margin-top: 50px;
    font-size: 2.5rem;
    margin-left: 75px;
    font-weight: 50;
}

.left-section h1 {
    margin-top: -10px;
    margin-left: 78px;
    font-size: 4rem;
    font-family: 'Fredoka One';
}

.sub-headlines {
    margin-top: 25px;
    margin-left: 150px;
}

.sub-headlines h5 {
    font-size: 1.5rem;
    display: flex;
}

.sub-headlines img {
    background-color: #000;
    border-radius: 100%;
    padding: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fe5e35;
}

.text {
    width: 65%;
    margin-left: 60px;
    color: #808080;
    font-size: 0.8rem;
}

.action-btns {
    margin-left: 60px;
    margin-top: 40px;
}

.action-btn {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #fe5e35;
    border: none;
    color: #fff;
    font-size: large;
}

.btn2 {
    margin-left: 19px;
}

.main img {
    position: absolute;
    left: 60%;
    top: 19%;
    z-index: -1;
}

.right-section button {
    position: absolute;
    top: 85%;
    left: 68%;
}

.discount {
    position: absolute;
    top: 53.5%;
    left: 57.5%;
}

.discount img {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(6px 6px 1px #000);
}

.discount-content {
    position: absolute;
    top: 55%;
    left: 59.2%;
    color: #fff;
    margin-top: 4px;
}

.discount-content h4 {
    font-size: 0.6rem;
    margin-top: 11px;
    text-align: center;
}

.discount-content h1 {
    font-size: 2.3rem;
    margin-top: -5px;
    margin-left: -5px;
    font-family: 'Fredoka One';
}

.dots {
    display: flex;
    position: absolute;
    top: 78%;
    left: 70%;
}

.dots .yellow-dot {
    border: 9px solid #fbd105;
    border-radius: 100%;
}

.dots .tomato-dot {
    border: 9px solid #fe5335;
    border-radius: 100%;
    margin-left: 20px;
}

.dots .black-dot {
    border: 9px solid #000;
    border-radius: 100%;
    margin-left: 20px;
}